# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project Specific
Presentation/
CodeAudit\ X\ -\ Presentation.pdf

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
